* {
    font-family: 'gilmer', sans-serif;
    color: #1d1d1f;
}

#body {
    background-color: #f5f5f7;
}

.black {
    color: #1d1d1f;
}
.white {
color: rgba(255, 255, 255, 0.7);
}
/* .test {
    display: flex;
    justify-content: center;
} */

/* nav */
.header-contatiner-resume {
    width: 100%;
}
.blur-header {
    background-color: #9393931a;
    backdrop-filter: blur(20px);
}
.char-linear-grad {
    background: linear-gradient(to right, #240b36, #c31432);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.wrapper {
background: rgba(128, 128, 128, 0);
position: relative;
}
.background-shape {
background: #3a86ff;
width: 100%;
height: 300px;
-ms-transform: skewY(-20deg);
-webkit-transform: skewY(-20deg);
transform: skewY(-20deg);
border-radius: 30px;
position: absolute;
top: 0px;
left: 0px;
}
.content {
color: white;
position: relative;
top: 120px; 
z-index: 10;
}

@media (max-width: 767px) {
    .image1test {
      display: none;
    }
  }

.units-link {
    background-color: rgb(102, 102, 102, 0.3);
    border-radius: 10px;
}

  /* unit converter */
.unit-nav-item{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #a594f9;
    color: #f1f1f7;
    border: 0;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 0.8px;
}
.unit-nav-item-active{
    width: auto;
    height: auto;
    background-color: #f1f1f7;
    color: #a594f9;
    border: 1px solid #888;
    border-bottom: 0;   
}
.unit-nav-item-active:active,
.unit-nav-item-active:focus {
    outline: none;
    box-shadow: none;
} 
.main-container h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    text-decoration: underline;
}
.main-container h2 span{
    color: #a594f9;
}
.unit-container{
    padding: 10px;
    background-color: #f1f1f7;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
    border-bottom: 0px;
    min-height: 300px;
}
.unit-container table{
    text-align: left;
    row-gap: 20px;
    border-spacing: 20px 10px;
}
.unit-container table tr input{
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    width:95%;
}
.unit-container table tr input:disabled{
    color: black;
}
.unit-container table tr select{
    width:100%;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #666;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.result{
    text-align: center;
}
.result>p> b{
    color: red;
    font-weight: 700;
}
.unit-container {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.from {
    color: #7371fc;
}
#from, #to {
    border-radius: 12px;
}
/*tipped element. should be inline-block or block*/
.qtip {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    font-style: normal;
    transition:all .25s ease-in-out
  }
  /*the tip*/
#leftalign {
    text-align: right;
}
  .qtip:before {
    content: attr(data-tip);
    font-size: 14px;
    position: absolute;
    background: rgba(10, 20, 30, 0.85);
    color: #fff;
    line-height: 1.2em;
    padding: 0.5em;
    font-style: normal;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    min-width: 120px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    letter-spacing: 0;
    font-weight: 600
  }
  .qtip:after {
    width: 0;
    height: 0;
    border-style: solid;
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out
  }
  .qtip:hover:before,
  .qtip:hover:after {
    visibility: visible;
    opacity: 1
  }
  /*top*/
  .qtip.tip-top:before {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 8px));
    box-sizing: border-box;
    border-radius: 3px;
  }
  .qtip.tip-top:after {
    border-width: 8px 8px 0 8px;
    border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
    top: -8px;
    left: 50%;
    transform: translate(-50%, 0);
  }
 
/* footer */
@font-face {
    font-family: 'CustomFont';
    src: url('https://lf16-fe.resso.me/obj/anote-fe/socrates/home-web/static/media/Gilmer-Outline.2825e847.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    .Gilmer-Outline {
    font-family: 'CustomFont', sans-serif;
    }
    @font-face {
    font-family: 'Gilmer';
    src: url('https://lf16-fe.resso.me/obj/anote-fe/socrates/home-file/static/media/Gilmer-Medium.71f3c551.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    .gilmer {
    font-family: 'Gilmer', sans-serif;
    }
    
    @font-face {
    font-family: 'Bard-font';
    src: url('https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
    .bard-font {
    font-family: 'Bard-font', sans-serif;
    }
    
    footer {
    position: relative;
    overflow: hidden;
    }
    
    #footer-video {
    border-top-left-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    }
    
    .footer-content {
    /* Style your footer content as desired */
    color: #fff;
    padding: 20px;
    }
    .footer-head {
    font-size: 95px;
    font-weight: bold;
    }
    .strink-img {
    height: 250px;
    }
    @media (max-width: 767px) {
    .footer-head {
        font-size: 40px;
    }
    .strink-img {
        height: 80px;
    }
    .pro1-banner {
        width: 350px;
    }
    .strink-font-size{
        font-size: 24px;
    }
    }
    
    #mail:hover {
    text-decoration: none;
    }
    .hr {
    border: none;
    height: 1px;
    background-color: white;
    width: 90%;
    }
    
    /* follow */
    .fa-brands {
        color: black;
        padding-right: 20px;
        font-size: 22px;
    }
    
    a {
        text-decoration: none;
    }
    
    .fa-brands:hover,
    a:hover {
        color: #fb5607 !important;
    }